<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration>
<!-- Status determines which *internal* log4j log messages are included. -->
<Configuration status="WARN">
	<Appenders>
		<!-- We can make the console output more user-friendly if we want. -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%m%throwable{short.message}%n">
			</PatternLayout>
		</Console>

		<!-- We can still keep details in a file log for debugging. -->
		<File name="FileLog" fileName="debug.log" append="false">
			<PatternLayout pattern="[%02sequenceNumber%level{length=1}] %class{1} #%line %thread: %m %throwable{2}%n">
			</PatternLayout>
		</File>
	</Appenders>

	<Loggers>
		<!-- You can modify per-class logging levels if you want. -->
		<Logger name="edu.usfca.cs272.LoggerSetup" level="ALL" additivity="false">
			<AppenderRef ref="Console" level = "INFO" />
			<AppenderRef ref="FileLog" level = "ALL" />
		</Logger>

		<!-- This is the configuration used by all other loggers. -->
		<Root level="ALL">
			<AppenderRef ref="Console" level="FATAL" />
			<AppenderRef ref="FileLog" level="ERROR" />
		</Root>
	</Loggers>
</Configuration>